{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

        {% if title %}
            <title>U Božjoj Prisutnosti - {{ title }}</title>
        {% else %}
            <title>U Božjoj Prisutnosti</title>
        {% endif %}
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <input type="checkbox" id="nav" class="hidden">
                    <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                    </label>
                    <div class="logo">
                        <a href="{% url 'blog-home' %}">UBP</a>
                    </div>
                    <div class="nav-wrapper">
                        <ul>
                            <li><a href="{% url 'blog-home' %}">Home</a></li>
                            <li><a href="{% url 'blog-about' %}">About</a></li>
                            {% if user.is_authenticated %}
                                    <li><a class="" href="{% url 'post-create' %}">New Post</a></li>
                                    <li><a class="" href="{% url 'profile' %}">Profile</a></li>
                                    <li><a class="" href="{% url 'logout' %}">Logout</a></li>
                                    <li><a class="" href="{% url 'login' %}">Login</a></li>
                                    <li><a class="" href="{% url 'register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main role="main" class="row">
            <div class="leftcolumn">
                <div class="card">      <!-- sve poruke će se na ovom mjestu pokazivati -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                <div class="rightcolumn">
                    <div class="card">
                        <h3>Our Sidebar</h3>
                        <p class="">You can put any information here you'd like.
                            <ul class="">
                                <li class="">Latest Posts</li>
                                <li class="">Announcements</li>
                                <li class="">Calendars</li>
                                <li class="">etc</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>