{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="">
            <img class="user-logo" src="{{ post.author.profile.image.url }}">
            <div class="">
                <div class="">
                    <a class="" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="">{{ post.date_posted|date:"d F, Y" }}</small>  <!-- ovo iza | je formatiranje datuma iz službene dokumentacije -->
                </div>
                <h2><a class="" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="" href="?page=1">First</a>
            <a class="" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}