{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="">
        <div class="">
            <img class="" src="{{ user.profile.image.url }}">
            <div class="">
                <h2 class="">{{ user.username }}</h2>
                <p class="">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="">
                <legend class="">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="">
                <button class="" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}