{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="">
        <form method="post">
            {% csrf_token %}
            <fieldset class="">
                <legend class="">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="">
                <button class="" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="">
            <small class="">
                Alredy Have An Account? <a class="" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
    </div>
{% endblock content %}